<div id="dashboard">
  <div class="header">
    <div class="pure-menu pure-menu-horizontal">
      <a class="pure-menu-heading"
         routerLink="/dashboard">
        Dashboard 控制面板
      </a>

      <!-- this is permanent -->
      <ul class="pure-menu-list">
        <!--<li class="pure-menu-item pure-menu-selected">-->
        <li class="pure-menu-item">
          <a routerLink="manage" class="pure-menu-link">管理</a>
        </li>
        <li class="pure-menu-item">
          <a routerLink="data" class="pure-menu-link">数据</a>
        </li>
        <li class="pure-menu-item">
          <a routerLink="compute" class="pure-menu-link">计算服务</a>
        </li>
      </ul>

      <form class="pure-form header-search">
        <input type="text" placeholder="搜索..."/>
      </form>

      <ul class="pure-menu-list header-account">
        <li class="pure-menu-item">
          <a href="#" class="pure-menu-link">关于</a>
        </li>
        <li class="pure-menu-item">
          <a href="" class="pure-menu-link">登录/注册</a>
        </li>
      </ul>

    </div>
  </div>

  <router-outlet></router-outlet>

  <div class="footer">
    Developing by VisualODF TEAM.
  </div>

  <app-dashboard-mask></app-dashboard-mask>

</div>
